<form class="" action="/search" method="post">
  <select name="animal">
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
  </select>
  <select name="breed">
    <option value="Golden Retriever">Golden Retriever</option>
    <option value="Boxer">Boxer</option>
  </select>
  <select name="breed">
    <option value="Golden Retriever">Golden Retriever</option>
    <option value="Boxer">Boxer</option>
  </select>
  <select name="age">
    <option value="Baby">Baby</option>
    <option value="Young">Young</option>
    <option value="Adult">Adult</option>
    <option value="Senior">Senior</option>
  </select>
  <select name="size">
    <option value="S">Small</option>
    <option value="M">Medium</option>
    <option value="L">Large</option>
    <option value="XL">XL</option>
  </select>
  <select name="gender">
    <option value="M">Male</option>
    <option value="F">Female</option>
    <option value="T">They</option>
  </select>
  <input type="submit" value="Search">
</form>
