#pet-search {
  background-color: rgba(239, 238, 241);
}

.search-form {
  background-color: #CCCCCC;
  height: 80px;
  border-bottom: .5px solid #605f5f;
  border-top: .5px solid #605f5f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-box {
  border-radius: 8px;
  width: 290px;
  height: 400px;
  font-size: 20;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  background-color: #DBDBDB;
  border: 1px solid #c4c4c4;

}

.favorites-button {
  background-color: green;
  margin: 0px;
  border: none;
  display: flex;
  width: 270px;
  margin-left: 10px;
  height: 50px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
}

.button_to {
  margin: 0px;
  border: none;
  padding: 0px;
  width: 250px;
}

.small {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-link {
  text-decoration: none;
}

.attribute {
  color: #626862;
}

.thumbnail-pic {
  width: 300px;
  position: absolute;
  clip: rect(10px,278px,235px,10px);
}

.pet-thumb-info {
  border: 1px solid #EDEDED;
  background-color: white;
  width: 270px;
  height: 150px;
  position: relative;
  border-radius: 8px;
  top: 239px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pet-name {
  color: #174B0A;
  font-size: 28px;
  font-weight: bold;
}

.dropdown {
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #EDEDED;
  border: .5px solid #605f5f;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-right: 30px;
  color: #605f5f;
  padding-left: 10px;
}

.search-title {
  margin-right: 10px;
  color: #174B0A
}

.submit {
  border: .5px solid #605f5f;
  background-color: green;
  color: white;
}

.option {
  width: 200px;
  color: #605f5f;

}

#search-area {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}
.font-black {

}

.pet-show {
  font-family: 'Raleway', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.left-section {
}

.books-outer {
    width: 900px;
    background-color: #ededed;
    border: 5px solid #006600;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-image {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.books-heading {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 25px;
  color: #002d00;
}

.book-box {
  border-radius: 15px;
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
}

.book-title {
  color: black;
  font-size: 20px;
}

.book-side-car {
  padding: 15px;
  color: #444444;
  width: 720px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet-show-card {
  width: 900px;
  background-color: #ededed;
  border: 5px solid #006600;
  padding: 30px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.info-and-photo {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
}

.pet-name-show {
  color: #174B0A;
  font-size: 45px;
  text-align: center;
}

.color-gray {
  color: #174B0A;
}

.big-photo {
  height: 400px;
  max-width: 480px;
  border-radius: 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}


.basic-info {
  width: 418px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.attributes-show {
  color: #444444;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.underline {
  text-decoration: underline;
}

.font-18 {
  font-size: 18px;
}

.marg-left-10 {
  margin-left: 10px;
}

.marg-bottom-10 {
  margin-bottom: 10px;
}
.marg-top-20 {
  margin-top: 20px;
}

.description {
  border-radius: 15px;
  padding-bottom: 5px;
  background-color: white;
}

.shelter-map-box {
  background-color: #ededed;
  border: 5px solid #006600;
  border-radius: 15px;
  height: 680px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;

}

#shelter-map {
  height: 350px;
  margin-top: 25px;
  border-radius: 15px;
  background-color: white;
  width: 90%;
}

.shelter-title {
  font-size: 25px;
  color: #006600;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.shelter-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
  border-radius: 15px;
  height: 250px;
  width: 90%;
  background-color: white;
  font-size: 20px;
}

.text-center {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.remove-fav {
  background-color: #3d3d3d;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


body {
  padding: 0;
  margin: 0;

  font-family: 'Rock Salt', cursive;
  color: white;
  background-color: rgba(239, 238, 241);
}

#nav {
  width: 100%;
  height: 96px;
  font-family: 'Rock Salt', cursive;
  color: white;
  background-color: #006600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flash {
  background-color: black;
  display: flex;
  justify-content: center;
}

#the-business {
  background-image: url('https://oneadamtwelv.files.wordpress.com/2012/04/p5102156.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.inner-nav {
  height: 100%;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 90%;
}
.logo-text {
}

.sign-in {
  color: white;
  padding-right: 23px;
  padding-left: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-decoration: none;
}

#nav .inner-nav a:hover {
  color: #006600;
  background-color: white;
}

#nav .inner-nav .thinga a:hover {
  background-color: #006600;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
}

.lower-banner {
  height: 290px;
}


.slogan-box {
  width:100%;
  height: 100%;
  background-color: rgba(57, 79, 57, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-banner {
  background-color: rgba(57, 79, 57, 0.8);
}

div.slogan-text {
  color: white;
  font-size: 40px;
}

.middle {
  display: flex;
  justify-content: center;
  background-color: #006600;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cat-dog-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  height: 300px;
}

.dog-click {
  margin: 5px;
  width: 433px;
  height: 300px;

  border: 1px solid white;
  border-radius: 2%;
  background-image: url('/assets/puppy_pic_433.jpg');
  background-size: cover;
  text-decoration: none;
}

.animal-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  background-color: rgba(57, 79, 57, 0.8);
  color: white;
  font-size: 30px;
}

.cat-click {
  margin: 5px;
  width: 433px;
  height: 300px;
  border: 1px solid white;
  border-radius: 2%;
  background-image: url('/assets/cat_433.jpg');
  background-size: cover;
  text-decoration: none;

}

.animal-click {
  margin: 5px;
  width: 433px;
  height: 300px;
  border: 1px solid white;
  border-radius: 2%;
  background-image: url('/assets/rabbits_fotor.jpg');
  background-size: cover;
  text-decoration: none;
  text-align: center;
}

.font-lower {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-27 {
  font-size: 29px;
  text-decoration: underline;
}

.font-18 {
  font-size: 18px;
}

.marg-left-25 {
  margin-left: 25px;
}

.right-nav {
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.welcome-message {
  margin-right: 15px;
  display: flex;
  align-items: center;
}


#foot {
}
