.font-black {

}

.pet-show {
  font-family: 'Raleway', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.left-section {
}

.books-outer {
    width: 900px;
    background-color: #ededed;
    border: 5px solid #006600;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-image {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.books-heading {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 25px;
  color: #002d00;
}

.book-box {
  border-radius: 15px;
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
}

.book-title {
  color: black;
  font-size: 20px;
}

.book-side-car {
  padding: 15px;
  color: #444444;
  width: 720px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet-show-card {
  width: 900px;
  background-color: #ededed;
  border: 5px solid #006600;
  padding: 30px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.info-and-photo {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
}

.pet-name-show {
  color: #174B0A;
  font-size: 45px;
  text-align: center;
}

.color-gray {
  color: #174B0A;
}

.big-photo {
  height: 400px;
  max-width: 480px;
  border-radius: 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}


.basic-info {
  width: 418px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.attributes-show {
  color: #444444;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.underline {
  text-decoration: underline;
}

.font-18 {
  font-size: 18px;
}

.marg-left-10 {
  margin-left: 10px;
}

.marg-bottom-10 {
  margin-bottom: 10px;
}
.marg-top-20 {
  margin-top: 20px;
}

.description {
  border-radius: 15px;
  padding-bottom: 5px;
  background-color: white;
}

.shelter-map-box {
  background-color: #ededed;
  border: 5px solid #006600;
  border-radius: 15px;
  height: 680px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;

}

#shelter-map {
  height: 350px;
  margin-top: 25px;
  border-radius: 15px;
  background-color: white;
  width: 90%;
}

.shelter-title {
  font-size: 25px;
  color: #006600;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.shelter-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
  border-radius: 15px;
  height: 250px;
  width: 90%;
  background-color: white;
  font-size: 20px;
}
