<nav id="nav">
    <div class="inner-nav">
      <div class="thinga logo"><a class="logo" href="<%= root_path %>"><img class="logo" src="/assets/pq_logo_final.png" alt=""></a></div>
      <form class="sign-form" action="<%= login_path(last_path: request.env['REQUEST_PATH']) %>" method="get">
        <input id="lat" type="hidden" name="lat"></input>
        <input id="lon" type="hidden" name="lon"></input>
        <input id="sign-button" type="submit" name="Sign In" value="Sign In">
      </form>
    </div>
</nav>
