<nav id="nav">
    <div class="inner-nav">
      <img class="logo" src="/assets/pq_logo_final.png" alt="">
      <a class="sign-in" href="<%= login_path(last_path: request.env['REQUEST_PATH']) %>">Sign In</a>
    </div>
</nav>
