
  <main id="the-business">
      <article class="banner">
        <div class="slogan-box">
          <div class="slogan-text">
            Take Home a New Friend Today
          </div>
        </div>
      </article>
      <section class="middle">
        <article class="cat-dog-box">
          <a class="dog-click" href="/search/dogs"><div class="animal-message">Search for Dogs</div></a>
          <a class="cat-click" href="/search/cats"><div class="animal-message">Search for Cats</div></a>
          <a class="animal-click" href="/"><div class="animal-message">Search for Other Animals</div></a>
        </article>
      </section>
    <article class="lower-banner">
      <div class="slogan-box bottom-banner">
        <div class="font-lower">
          <div class="ul-27">
            Pet Quest helps you adopt an animal that's right for you!
          </div>
            <li class="font-18">
              Search available animals near you by type, breed, size, and more!
            </li>
            <li class="font-18">
              Find books, and resources on taking care of the animal you are interested in!
            </li>
            <li class="font-18">
              Not sure if you're commited yet? Keep a list of potential pets you may want to adopt later.
            </li>
        </div>
      </div>
    </article>
  </main>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type="text/javascript">
    $(function(){
      $(".animal-message").css("opacity",0).fadeTo(0, 0);
      $(".animal-message").mouseover(function () {
        $(this).fadeTo(200, 1);
      });
      $(".animal-message").mouseout(function () {
        $(this).fadeTo(200, 0);
      });
    });
  </script>
