<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body id="the-business">
      <article class="banner">
        <div class="slogan-box">
          <div class="slogan-text">
            Take Home a New Friend Today
          </div>
        </div>
      </article>
      <section class="middle">
        <article class="cat-dog-box">
          <a href="/search/dogs"><img class="animal-click" src="/assets/puppy_pic_433.jpg" alt=""></a>
          <a href="/search/cats"><img class="animal-click" src="/assets/cat_433.jpg" alt=""></a>
          <img class="animal-click" src="/assets/rabbits_fotor.jpg" alt="">
        </article>
      </section>
    <article class="lower-banner">
      <div class="slogan-box bottom-banner">
        <div class="font-lower">
          <div class="ul-27">
            Pet Quest helps you adopt an animal that's right for you!
          </div>
            <li class="font-18">
              Search available animals near you by type, breed, size, and more!
            </li>
            <li class="font-18">
              Find books, and resources on taking care of the animal you are interested in!
            </li>
            <li class="font-18">
              Not sure if you're commited yet? Keep a list of potential pets you may want to adopt later.
            </li>
        </div>
      </div>
    </article>
  </body>
</html>
